header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}
h1 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
canvas {
    display: block;
    border: 1px solid black;
    margin: auto;
    padding: 0;
    background-color: black;
}
#center-container {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  color: #fff;
  background-color: black;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#button:hover {
  background-color: grey;
  border-color: grey;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: grey;
    padding: 10px;
    text-align: right;
}
footer p {
    margin: 0;
}